# Core
fastapi==0.109.0
uvicorn[standard]==0.27.1
sqlalchemy==2.0.25
pydantic==2.5.6
pydantic-settings==2.2.1
email-validator==2.1.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
fpdf2==2.7.9


# Драйверы БД (PostgreSQL + MySQL только!)
asyncpg==0.29.0
aiomysql==0.2.0

# Excel + валидация
openpyxl==3.1.2
pandas==2.1.4

# Вспомогательное
cryptography==42.0.4    # Для Fernet
httpx==0.26.0          # Для AI API (если в будущем подключим внешний)
requests==2.31.0       # Для OpenAI API

# Очередь и кэш (опционально для MVP)
redis==5.0.3
celery[redis]==5.3.6

# Tests
pytest==7.4.4
pytest-asyncio==0.23.3